<div class="container" *ngIf="absExercises.length > 0">
  <div>
    <label for="absExercise">Select Bicep Exercise:</label>
    <select id="absExercise" [(ngModel)]="selectedExercise" (change)="selectExercise(selectedExercise)">
      <option *ngFor="let exercise of absExercises" [ngValue]="exercise">{{ exercise.name }}</option>
    </select>
  </div>
  <div>
    <input type="number" placeholder="reps" [(ngModel)]="workoutReps" name="reps">
  </div>
  <div>
    <input type="number" placeholder="weight" [(ngModel)]="workoutWeight" name="weight">
  </div>
  <!-- Display details of the selected exercise -->
  <div *ngIf="selectedExercise">
    <h3>Sets</h3>
    <div *ngFor="let set of selectedExercise.sets; let i = index">
      <p>{{ 'Set ' + (i + 1) + ': Reps - ' + set.reps + ', Weight - ' + set.weight + 'kg' }}
        <button (click)="editSet(set, i)">Edit</button>
        <button (click)="deleteSet(set)">Delete</button>
      </p>
    </div>
  </div>
  <div>
    <button class="add-set-button"(click)="addSet()">Add Set</button>
  </div>
</div>
