<div class="background">
  <nav class="nav-container">
    <img routerLink="/startup" alt="amogus" class="logo " src="../../assets/Images/logo.png">
    <div class="spacer"></div>
    <button class="button">
      <p class="buttonText">Account</p>
    </button>
    <button class="button">
      <p class="buttonText">Log out</p>
    </button>
  </nav>
  <div class="container">
    <div class="logForm">
        <div class="startupBox">
            <p class="accessText">Select a muscle group</p>
        </div>
        <div class="group-container">
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/biceps.jpg">
              <p class="category-text">biceps</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/triceps.jpg">
              <p class="category-text">triceps</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/legs.jpg">
              <p class="category-text">legs</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/back.jpg">
              <p class="category-text">back</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/shoulder.jpg">
              <p class="category-text">shoulder</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/chest.jpg">
              <p class="category-text">chest</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/cardio.jpg">
              <p class="category-text">cardio</p>
              </a>
            </div>
            <div class="panel">
              <a routerLink="/login">
              <img src="../../assets/Images/abs.jpg">
              <p class="category-text">abs</p>
              </a>
            </div>
          </div>
          <div class="submit-box">
            <p class="submit-text">Submit</p>
        </div>
      </div>
  </div>
</div>
