.container{
  flex-direction: column;
  background-size:cover;
  display:flex;
  align-items: center;
  justify-content: center;
  width:auto;
  height:auto;
  min-width: 100vh;
  background-color: #ECBDF2;
  border-radius: 15px;
  text-align:center;
  padding:2rem;
}
label{
  color: black;
  font-family: 'Verdana', serif;
  font-size:30px;
  font-weight:bold;
  font-style: italic;
  line-height: 0px;
}
input{
  height:2rem;
  text-align: center;
  font-family: 'Verdana', serif;
  font-style:italic;
  border-radius: 5px;
  margin:10px;
}
select{
  text-align: center;
  font-family: 'Verdana', serif;
  font-style:italic;
  border-radius: 10px;
  height:2rem;
  width:20rem;
  margin:10px;
}
p{
  color: black;
  font-family: 'Verdana', serif;
  font-size:15px;
  font-weight:bold;
  font-style: italic;
}
.add-set-button{
  background-color: #AD4BB8;
  border-radius: 15px;
  text-align:center;
  padding:0.8rem;
  color:#F5E1F7
}
