<div class="background">
  <div class="container">
    <div class="logForm">
      <div class="startupBox">
        <p> Workout List </p>
      </div>
      <ng-container *ngIf="selectedWorkout">
        <div class="startupBox">
          <app-workout [workout]="selectedWorkout"></app-workout>
        </div>
      </ng-container>
      <div class="group-container">
        <button *ngIf="workouts == null" routerLink="/create-workout">
          Create Workout
        </button>
        <button *ngFor="let workout of workouts" (click)="toggleWorkoutComponent(workout)">
          {{ workout.name }}
        </button>
      </div>
    </div>
  </div>
</div>
