.button{
  border:0;
  width: 190px;
  height: 35px;
  background-color: #ECBDF2;
  padding: 20px;
  border-radius: 15px;
  margin-right:15px;
}
.buttonText{
  color: #6B246B;
  font-family: 'Verdana', serif;
  font-size:30px;
  font-weight:bold;
  line-height: 0;
  margin-top:0px;
}
.background{
  background-image: url('../../assets/Images/background.png');
  background-size:cover;
  flex-direction: column;
  display:flex;
  align-items: stretch;
  justify-content: center;
  width:100%;
  height:100%;
}
.container{
  flex-direction: column;
  background-size:cover;
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  min-height: 100vh;
}
.logForm{
  background-color:#6b246bc7;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  padding:1.5rem;
  border-radius: 15px;
}
button {
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  width: auto;
  transition: 0.4s;
  font-size:24px;
  text-align:center;
  background-color: #ECBDF2;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding:40px;
}

button:hover {
  color: black  ;
  box-shadow: 0 0 8px #ECBDF2;
  background-color: #d18cda;
}
.startupBox {
  border:0;
  width: 45%;
  background-color: #ECBDF2;
  padding: 20px;
  border-radius: 15px;
  margin:25px;
  display:flex;
  justify-content: center;
}
.startupBox a {
  color: inherit;
  text-decoration: none;
}
img{
  border-radius:15%;
}
.group-container{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items:center;
  padding:1.5rem;
  height:750px;
}
.submit-box{
  border:0;
  width: 25%;
  height: 10%;
  background-color: #ECBDF2;
  padding: 15px;
  border-radius: 15px;
  margin:25px;
  text-align:center;
}
p{
  color: black;
  font-family: 'Verdana', serif;
  font-size:40px;
  font-weight:bold;
  line-height:1;
  font-style: italic;
  text-align: center;
}
input{
  border:0;
  width: 100%;
  height:3rem;
  background-color: white;
  border-radius: 15px;
  margin:5px;
  text-align:center;

  color: #6B246B;
  font-family: 'Verdana', serif;
  font-size:30px;
  font-weight:bold;
  line-height:1;
}
