html {
  background-image: url('../../assets/background.png ');
  background-size:cover;
}
.logo{
  background-image:url('../../assets/logo.png');
  background-size:cover;
  width:25%;
}
.center-horizontally {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.startupBox {
  width: 15%; /* width of box */
  height: auto;
  background-color: #ECBDF2;
  padding: 20px; /* padding inside the box */
  border-radius: 10px; /*removes the edges */
  margin-top:15px; /*pushing down from logo */
  text-align: center;
}
.startupBox a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Removes the underline */
}
.accessText{
  color: #6B246B;
  font-family: 'Verdana', serif;
  font-weight:bold;
  line-height:0.6;
  font-style: italic;
}
.orText{
  color: #6B246B;
  font-family: 'Verdana', serif;
  font-size:56px;
  font-weight:bold;
  line-height:2;
}
h1{
  color: #6B246B;
  font-family: 'Verdana', serif;
  font-weight:bold;
}
