<div class="background">
  <div>
    <img alt="amogus" class="logo, center-horizontally" src="../../assets/Images/logo.png">  <!--logo-->
    <div class="center-horizontally">
      <div class="startupBox">
        <div class="accessText">
          <h1><a routerLink="/login">Log in</a></h1>                                   <!--Log in button-->
        </div>
      </div>
    </div>
    <div class="center-horizontally">
      <div class="startupBox accessText">
          <h1><a routerLink="/register">Sign up</a></h1>                                      <!--Sign up button-->
      </div>
    </div>
  </div>
</div>
