<html>

</html>
<body>
<div>
  <img alt="amogus" class="logo, center-horizontally" src="./assets/logo.png">  <!--logo-->
</div>
<div class="center-horizontally">
  <div class="startupBox">
    <div class="accessText center-horizontally">
      <a routerLink="/login">Log in</a>                                       <!--Log in button-->
    </div>
  </div>
</div>
<div class="center-horizontally">
    <div class="orText">
      or                                                                        <!--'or' text-->
    </div>
</div>
<div class="center-horizontally">
  <div class="startupBox">
    <div class="accessText center-horizontally">
      <a routerLink="/register">Sign up</a>                                        <!--Sign up button-->
    </div>
  </div>
</div>
</body>

