<html>

</html>
<body>
<div>
  <img alt="amogus" class="logo, center-horizontally" src="./assets/logo.png">  <!--logo-->
</div>
<div class="center-horizontally">
  <div class="startupBox">
    <div class="accessText">
      <h1><a routerLink="/login">Log in</a></h1>                                   <!--Log in button-->
    </div>
  </div>
</div>
<div class="center-horizontally">
  <h1>or</h1>                                                                        <!--'or' text-->
</div>
<div class="center-horizontally">
  <div class="startupBox">
    <div class="accessText">
      <h1><a routerLink="/register">Sign up</a></h1>                                      <!--Sign up button-->
    </div>
  </div>
</div>
</body>

