<div *ngIf="bicepsExercises.length > 0">
  <div>
    <label for="bicepsExercise">Select Biceps Exercise:</label>
    <select id="bicepsExercise" [(ngModel)]="selectedExercise" (change)="selectExercise(selectedExercise)">
      <option *ngFor="let exercise of bicepsExercises" [ngValue]="exercise">{{ exercise.name }}</option>
    </select>
  </div>
  <input type="number" placeholder="reps" [(ngModel)]="workoutReps" name="reps" (keyup.Enter)="addExercise()">

  <div *ngFor="let exercise of selectedExercises">
    <!-- Display details of the selected exercise -->
    <h3>{{ exercise.name + " for " + exercise.reps + " reps" }}</h3>
  </div>
</div>
