<body>
  <div class="regForm center-horizontally-signup">
    <div class="signUp center-horizontally-signup">
      <h3> Sign up</h3>
    </div>
    <div class="regContainer">
      <div>
        <div class="regInformationText">
          <h6>Username:</h6>
        </div>
        <div class="regInformationText">
          <h6>Email:</h6>
        </div>
        <div class="regInformationText">
          <h6>Password:</h6>
        </div>
        <div class="regInformationText">
          <h6>Confirm password:</h6>
        </div>
      </div>
      <div>
        <div>
          <input type="text" placeholder="Username" [(ngModel)] = "username" (keyup.enter)="signUpCheck()">
        </div>
        <div>
          <input type="email" placeholder="Email" [(ngModel)]="email" (keyup.enter)="signUpCheck()">
        </div>
        <div>
          <input type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="signUpCheck()">
        </div>
        <div>
          <input type="password" placeholder="Confirm Password" [(ngModel)]="cpassword" (keyup.enter)="signUpCheck()">
        </div>
      </div>
    </div>
    <button class="reg" (click)=signUpCheck()>Register</button>
    <div class="questionSignup">
      <p>Already a member?<a routerLink="/login" >Log in!</a></p>
    </div>
  </div>
</body>
