<body>
  <div class="regForm center-horizontally-signup">
    <div class="signUp center-horizontally-signup">
      <h3> Sign up </h3>
    </div>
    <div class="row, center-horizontally-signup">
      <div class="regInformationText">
        <h1>Username:</h1>
        <input type="text" placeholder="Username" [(ngModel)]="username" (keyup.enter)="signUpCheck()">
      </div>
    </div>
    <div class="row, center-horizontally-signup">
      <div class="regInformationText">
        <h1>Email:</h1>
        <input type="email" placeholder="Email" [(ngModel)] = "email" (keyup.enter)="signUpCheck()">
      </div>
    </div>
    <div class="row, center-horizontally-signup">
      <div class="regInformationText">
        <h1>Password:</h1>
        <input type="password" placeholder="Password" [(ngModel)] = "password" (keyup.enter)="signUpCheck()">
      </div>
    </div>
    <div class="row, center-horizontally-signup">
      <div class="regInformationText">
        <h1>Confirm Password:</h1>
        <input type="password" placeholder="Confirm Password" [(ngModel)] = "cpassword" (keyup.enter)="signUpCheck()">
      </div>
    </div>
    <div class="center-horizontally-signup ">
      <button class="log" (click)="signUpCheck()">Sign up</button>
    </div>
    <div class="questionLogin center-horizontally-signup">
      <p>Already a member?<a routerLink="/login">Log in!</a></p>
    </div>
  </div>
</body>
