<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".KareApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon= "@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kare.Starting"
        android:usesCleartextTraffic="false"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kare.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Only our app can talk to the service-->
        <service
            android:name=".service.PushNotificationService"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".common.broadcast.LogoutBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.koleff.kare_android.ACTION_LOGOUT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".common.broadcast.RegenerateTokenBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.koleff.kare_android.ACTION_REGENERATE_TOKEN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>

<!--android:localeConfig="@xml/locales_config"-->