<div class="background">
  <nav class="nav-container">
    <img routerLink="/startup" alt="amogus" class="logo " src="./assets/logo.png">
    <div class="spacer"></div>
    <button class="button">
      <p class="buttonText">Account</p>
    </button>
    <button class="button">
      <p class="buttonText">Log out</p>
    </button>
  </nav>
  <div class="container">
    <div class="startupBox">
      <p class="accessText">Begin Workout</p>
    </div>
    <div class="startupBox">
      <p class="accessText">Manage Workouts</p>
    </div>
  </div>
</div>
