<html>

</html>
<body>
<nav>
  <div class="start half">
    <img routerLink="/startup" alt="amogus" class="logo " src="./assets/logo.png">
  </div>
  <div class="end half">
    <button class="button">
      <p class="buttonText">Account</p>
    </button>
    <button class="button">
      <p class="buttonText">Log out</p>
    </button>
  </div>
</nav>
<div class="containerHome">
  <div class="startupBox center-horizontally">
    <div class="accessText center-horizontally">
      <a routerLink="/login">Start workout</a>                                       <!--Log in button-->
    </div>
  </div>
  <div class="center-horizontally">
  </div>
  <div class="startupBox center-horizontally">
    <div class="accessText center-horizontally">
      <a routerLink="/register">Manage workouts</a>                                        <!--Sign up button-->
    </div>
  </div>
</div>

</body>

