<div class="background">
  <nav class="nav-container">
    <img routerLink="/startup" alt="amogus" class="logo " src="../../assets/Images/logo.png">
    <div class="spacer"></div>
    <button class="button">
      <p class="buttonText">Account</p>
    </button>
    <button class="button">
      <p class="buttonText">Log out</p>
    </button>
  </nav>
  <div class="container">
    <div class="startupBox">
      <p class="accessText"><a routerLink="/workout-list">Workouts</a></p>
    </div>
    <div class="startupBox">
      <p class="accessText"><a routerLink="/create-workout">Create a Workout</a></p>
    </div>
  </div>
</div>
