<body>
<div class="FormLogin center-horizontally-login">
  <div class="logIn center-horizontally-login">
    <h3> Log in</h3>
  </div>
  <div class="row center-horizontally-login">
    <div class="informationTextLogIn">
      <h1>E-mail:</h1>
    </div>
    <input type="email" placeholder="Email" [(ngModel)]="email" (keyup.enter)="loginCheck()">
  </div>
  <div class="row center-horizontally-login ">
    <div class="informationTextLogIn">
      <h1>Password:</h1>
    </div>
    <input type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="loginCheck()">
  </div>
  <div class="center-horizontally-login">
    <button class="log" (click)="loginCheck()">Log in</button>
  </div>
  <div class="questionLogin center-horizontally-login">
     <p>Not a member?<a routerLink="/register">Sign up!</a></p>
  </div>
</div>
</body>
