html {
  background-image: url('../../assets/background.png ');
  background-size:cover;
}
.FormLogin{
  width: 35%;
  background-color: #C283E3;
  border-radius: 20px;
  padding-bottom: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-horizontally-login{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:inherit;
}
.logIn{
  color:#6B246B;
  font-family: 'Verdana', serif;
  font-size:64px;
  font-weight:bold;
  line-height:1;                        /*pushing text downwards*/
  font-style:italic;
}
.informationTextLogIn{
  color:#6B246B;
  font-family: 'Verdana', serif;
  font-weight:bold;
  line-height: 0.65;                 /*pushing text downwards*/
  text-align:center;
  width:100%;
  display:flex;
  justify-content: space-between;
}
input, select {
  width: 100%;
  padding: 18px 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color:#F5E1F7;
  margin-top:auto;
  margin-bottom: auto;

}
button {
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  padding: 10px 0;
  transition: 0.4s;
  font-size:24px;
  text-align:center;
}

.log {
  color: hsl(295, 85%, 18%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
}

button:hover {
  color: black  ;
  box-shadow: 0 0 20px #ECBDF2;
  background-color: #ECBDF2;
}
.questionLogin{
  color:#6B246B;
  font-family: 'Verdana', serif;
  font-size:23px;
  font-weight:bold;
  line-height:0.9;                        /*pushing text downwards*/
  font-style:italic;
}

.questionLogin a{
  text-decoration: none;
  color:White;
}
.row{
  flex-direction: row;
}
