<div class="container" *ngIf="cardioExercises.length > 0">
  <div>
    <label for="cardioExercise">Select Cardio Exercise:</label>
    <select id="cardioExercise" [(ngModel)]="selectedExercise" (change)="selectExercise(selectedExercise)">
      <option *ngFor="let exercise of cardioExercises" [ngValue]="exercise">{{ exercise.name }}</option>
    </select>
  </div>
  <div>
    <input type="number" placeholder="reps" [(ngModel)]="workoutReps" name="reps" (keyup.Enter)="addExercise()">
  </div>

  <input type="number" placeholder="sets" [(ngModel)]="workoutSets" name="sets" (keyup.Enter)="addExercise()">

  <div *ngFor="let exercise of selectedExercises">
    <!-- Display details of the selected exercise -->
    <p>{{ exercise.name + " for " + exercise.reps + " reps and " + exercise.sets + " sets"  }}</p>
  </div>
</div>
